body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(to bottom, #87ceeb, #f0f8ff);
  overflow: hidden;
}

.ground {
  position: absolute;
  width: 100%;
  height: 150px;
  bottom: 0;
  background: linear-gradient(to bottom, #4cff11, #96833d);
  border-top-left-radius: 50% 20px;
  border-top-right-radius: 50% 20px;
}

.sunflower_plant {
  transform: translateY(450px);
  opacity: 0;
  animation: riseUp 3s ease-out forwards;
  anition-delay: 0.5s;  
}

@keyframes riseUp {
  0% {
    transform: translateY(450px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.trunk {
  transform: scale(0);
  transform-origin: 500px 450px;
  animation: grow_trunk 1s ease-out forwards;
}

@keyframes grow_trunk {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.seed {
  transform: scale(0);
  transform-origin: 500px 200px;
  animation: grow_seed 0.4s ease-out forwards;
}

@keyframes grow_seed {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.petals {
  transform: scale(0);
  animation: bloom 0.6s ease-out forwards;
}

@keyframes bloom {
  0% {
    transform: rotate(var(--angle)) scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  70% {
    transform: rotate(var(--angle)) scale(1.1);
  }
  100% {
    transform: rotate(var(--angle)) scale(1);
  }
}

.leaf_left {
  transform: scale(0);
  transform-origin: 495px 380px;
  animation-name: grow_leaf_left, sway_right;
  animation-duration: 1.5s, 3.5s;
  animation-delay: 0s, 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out, ease-in-out;
  animation-iteration-count: 1, infinite;
}

.leaf_right {
  transform: scale(0);
  transform-origin: 505px 380px;
  animation-name: grow_leaf_right, sway_left;
  animation-duration: 1.5s, 4s;
  animation-delay: 0s, 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out, ease-in-out;
  animation-iteration-count: 1, infinite;
}

@keyframes grow_leaf_left {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}


@keyframes grow_leaf_right {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes sway_right {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes sway_left {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}
